@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#34675C,#A3CCAB);
}

main {
    background-color: white; 
    border-radius: 10px;
    box-shadow:5px 5px 15px  #010f0ee1 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #053D38;
    text-align: center;
    text-shadow: 1px 1px 0px #010a09;
}

h2 {
    color: #34675C;
}

p {
    text-align: justify;
}